* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    padding: 0;
    margin: 0;
    background-color: goldenrod;
}




/* =========== Navigation Bar =========== */

.right-side-navbar {
    padding-right: 1.5rem;
}

.search-wrap {
    position: relative;
    display: flex;
    align-items: center;
}

.search-wrap i {
    color: black;
    position: absolute;
    right: 10px;
    pointer-events: none;
}

.search-icon-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-icon-group input {
    height: 34px;
    width: 100px;
    padding-left: 10px;
    background-color: #e19132;
    border-radius: 10px;
    border: none;
}

.search-icon-group input::placeholder {
    color: black;
}

.search-icon-group .material-icons {
    font-size: 30px;
}

.search-icon-group .material-icons:hover {
    color: #e19132;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: 40px;
    position: sticky;
    overflow: hidden;
    top: 0;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}


.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}


.navbar-links li {
    list-style: none;
    font-weight: bold;
}


.navbar-links a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}


.navbar-links a:hover {
    background-color: #e19132;
}


.logo {
    padding: .5rem;
    color: black;
    background-color: #e19132;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}


.searchBtn {
    padding: .5rem;
    padding-right: 1.5rem;
}


.searchBtn>input {
    height: 34px;
    width: 100px;
    padding-left: 10px;
    background-color: #e19132;
    border-radius: 10px;
    border: none;
}


.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding-right: 1.5rem;
    color: #e19132;
}


.closeBtn {
    border: none;
    color: black;
    cursor: pointer;
    font-size: 24px;
    padding: 8px 12px;
}


.sidebar-Btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* vertically center items */
    width: 100%;
}


.sideSearchBtn {
    flex: 1;
    display: flex;
    justify-content: center;
    /* center the input horizontally */
    align-items: center;
    /* center the input vertically */
}


.sideSearchBtn input {
    width: 100%;
    max-width: 175px;
    /* adjust as needed */
    height: 34px;
    padding-left: .5rem;
    background-color: #e19132;
    border-radius: 10px;
    border: none;
}


.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.575);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.sidebar ul {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}


.sidebar li {
    list-style: none;
    font-weight: bold;
}


.sidebar a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}


.sidebar a:hover {
    background-color: #e19132;
}


.sidebar.active {
    display: flex;
}




/* =========== Header =========== */


.home-header {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 700px;
    max-height: 700px;
}



/* =========== Featured =========== */
/* ===== Menu ==== */
.featured-menu {
    background-color: #fffbeb;
    padding: 50px 0;
}


.container {
    background: #fffbeb;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.featured-header {
    background-color: #fffbeb;
    text-align: center;
    padding-bottom: 50px;
}


.featured-header>h4 {
    background-color: #e19132;
    padding: 6px 16px;
    display: inline-block;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
}


.menu-grid {
    background-color: #f9f3e2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 60px;
    border-radius: 10px;
}


.product {
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}


.product-image {
    background-color: gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 180px;
    overflow: hidden;
}


.product-info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.price {
    padding: 10px 0;
}

.addcart {
    background-color: #e19132;
    padding: 10px;
    border-radius: 10px;
}

.product-name,
.product-description {
    padding: 0 10px;

}

.product-name {
    font-weight: bold;
    padding-bottom: 10px;
}


/* ==== Gallery ==== */
.gallery-header {
    text-align: center;
    margin: 50px 0;
}

.gallery-grid {
    background-color: #f9f3e2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 60px;
    border-radius: 10px;
}

.item {
    height: 450px;
    width: auto;
    overflow: hidden;
    background-color: gray;
    border-radius: 10px;
}

.item-1 {
    grid-area: 1 / 1 / 1 / span 2;
}

.item-2 {
    grid-area: 1 / 3 / 1 / 3;
}

.item-3 {
    grid-area: 2 / 1 / 2 / 1;
}

.item-4 {
    grid-area: 2 / 2 / 2 / 2;
}

.item-5 {
    grid-area: 2 / 3 / 2 / 3;
}

.item-6 {
    grid-area: 3 / 1 / 3 / 1;
}

.item-7 {
    grid-area: 3 / 2 / 3 / span 2;
}


/* =========== Footer =========== */
footer {
    background-color: #4d3419;
    height: 300px;
}

.footer-container {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.left {
    background-color: red;
}

.center {
    background-color: blue;
}

.right {
    background-color: green;
}


/* =========== Media Queries =========== */
/* ===== Tablet ===== */
@media (max-width: 800px) {
    .logo {
        margin: .5rem;
    }


    .navbar>.hamburger {
        display: block;
    }


    .sidebar {
        display: none;
    }

    /*
    .sidebar > ul > .searchBtn > input {
        width: 220px;
        display: flex;
        border: 20px;
    }
    */

    .navbar .navbar-links>ul>li {
        display: none;
    }


    .right-side-navbar {
        display: none;
    }

    .sidebar > .material-icons {
        display: none;
    }

    /* ==== grid ==== */
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

}


/* ===== Phone ===== */
@media (max-width: 500px) {

    /* ==== navbar ==== */
    

    /* ==== grid ==== */
    .menu-grid {
        grid-template-columns: 1fr;
    }
}








.popUp-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.popUp-container .content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: relative;
}

.title {
    background-color: white;
}

.close-btn {
    cursor: pointer;
}