* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fffbeb;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: aliceblue;
    padding-left: 40px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    font-weight: bold;
}

.navbar-links a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.navbar-links a:hover {
    background-color: #e19132;
}

.logo {
    padding: .5rem;
    color: black;
    background-color: #e19132;
    text-align: center;
    border-radius: 10px;
}

.searchBtn {
    padding: .5rem;
    padding-right: 1.5rem;
}

.searchBtn > input {
    height: 34px;
    width: 100px;
    padding-left: 10px;
    background-color: #e19132;
    border-radius: 10px;
    border: none;

}

/* -- Header -- */

.home-header {
    background-color: black;
    height: 600px;
    margin: 0;
    padding: 0;
}


/* -- Featured -- */

.featured-background {
    padding: 30px;
}

.featured-menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    padding: 20px;
    background-color: #f9f3e2;
    text-align: center;
    gap: 10px;
    border-radius: 10px;
}

.item {
    height: 300px;
    background-color: #e19132;
}

.item-1 {
    background-color: blue;
}

.item-2 {
    background-color: red;
}

.section-1, .section-2 {
    text-align: center;
}

.itemz {
    background-color: #e19132;
    height: 350px;
}

.gallery-section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
    gap: 10px;
    padding: 20px;
    background-color: #f9f3e2;
    border-radius: 10px;
}

.pic-1 {
    grid-area: 1 / 1 / 1/ span 2;
}

.pic-2 {
    grid-area: 1 / 3 / 1 / 3;
}

.pic-3 {
    grid-area: 2 / 1 / 2 / 1;
}

.pic-4 {
    grid-area: 2 / 2 / 2 / 2;
}

.pic-5 {
    grid-area: 2 / 3 / 2 / 3;
}

.pic-6 {
    grid-area: 3 / 1 / 3 / 1;
}

.pic-7 {
    grid-area: 3 / 2 / 3 / span 2;
}


footer {
    background-color: #4d3419;
    height: 300px;
}


/* =========== Media Queries =========== */

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.575);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a{
     width: 100%;
}

/*
@media (max-width: 800px) {

}
*/